@import "reset.css";

.menu {
    position: absolute;
    height: 1000px;
    width: 25vw;
    background-color: #7C7C7C;
    float: left;
    color: #EEE;
}

.content {
    position: absolute;
    left: 25vw;
    width: 73.9vw;
    max-height: 1000px;
    background-color: #FDFDFD;
}
/*------------個人檔案-----------------*/
.menu .title {
    width: 100%;
    height: 130px;
    background-color: #4a4a4a;
}

.head-shot {
    height: 105px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
    border: 2px #FFF solid;
}
.menu span {
    margin-left: 5px;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
}
/*------------------------menu超連結-------------------------*/
.menu ul li {
    height: 35px;
    padding-top: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    padding-left: 10px;
    color: #EEE;
}

.menu ul li a:hover {
    color: #000;
    font-size: 35px;
    transition: 0.25s;
}
/*----------------------facebook、gitHub icon---------------------*/
.menu .link {
    position: absolute;
    width: 400px;
    bottom: 5px;
    margin-left: 10px;
}

.menu .link div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.menu .link .link-back {
    width: 69px;
    height: 69px;
    border-radius: 30%;
    background-color: #EEE;
}

.link .link-back img {
    padding-top: 1px;
    width: 70px;
    border-radius: 50%;
}
/*-------------------------網頁封面-------------------------*/
.banner {
    width: 100%;
    height: 300px;
    background-color: #FFF;
}
.banner img {
    width: 100%;
    max-height: 300px;
    opacity: 0.8;
}

.banner-info {
    position: absolute;
    top: 25px;
    left: 25px;
}

.banner-info div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.banner-info img {
    max-width: 150px;
    border: #EEE 5px solid;
    opacity: 1;
}

.banner-text {
    font-size: 35px;
    color: #333;
}

/*------------------------網頁內容-------------------------*/

.note {
    width: 100%;
    max-height: 700px;
}

.frame {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 10px;
    border: #7c7c7c 2px solid;
}

.head {
    width: 100px;
    margin-left: 10px;
    font-size: 40px;
}

.article {
    margin: 50px 10px 10px 10px;
    font-size: 25px;
    color: #060606;
    width: 98%;
    font-weight: bold;
}

.article li {
    background-color: #cfcfcf;
    border: 1px #FFF solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
}
