@import "reset.css";

.menu {
    position: absolute;
    height: 1000px;
    width: 25vw;
    background-color: #7C7C7C;
    float: left;
    color: #EEE;
}

.content {
    position: absolute;
    left: 25vw;
    width: 73.9vw;
    height: 1000px;
    background-color: rgb(226, 226, 226);
}
/*------------個人檔案-----------------*/
.menu .title {
    width: 100%;
    height: 130px;
    background-color: #4a4a4a;
}

.head-shot {
    height: 105px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
    border: 2px #FFF solid;
}
.menu span {
    margin-left: 5px;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
}
/*------------------------menu超連結-------------------------*/
.menu ul {
    line-height: 60px;
}

.menu ul li {
    height: 35px;
    padding-top: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    padding-left: 10px;
    color: #EEE;
}

.menu ul li a:hover {
    color: #000;
    font-size: 35px;
    transition: 0.25s;
}
/*----------------------facebook、gitHub icon---------------------*/
.menu .link {
    position: absolute;
    width: 400px;
    bottom: 0px;
    left: 10px;
}

.menu .link div {
    display: inline-block;
    margin-right: 15px;
}

.menu .link .link-back {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFF;
    text-align: center;
}

.link .link-back img {
    padding-top: 1px;
    width: 72px;
    border-radius: 50%;
}
/*-------------------------網頁封面-------------------------*/
.content .banner {
    width: 100%;
    height: 300px;
    background-color: #FFF;
}
.content .banner img {
    width: 100%;
    max-height: 300px;
    opacity: 0.8;
}

/*------------------------網頁內容-------------------------*/

.content .news {
    width: 100%;
    height: 100px;
    background-color: rgb(104, 225, 230);
}
